# MPG Cars

### Introduction:

The following exercise utilizes data from [UC Irvine Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/Auto+MPG)

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the first dataset [cars1](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars1.csv) and [cars2](https://raw.githubusercontent.com/guipsamora/pandas_exercises/master/05_Merge/Auto_MPG/cars2.csv).

   ### Step 3. Assign each to a variable called cars1 and cars2

In [8]:
cars1 = pd.read_csv('cars1.csv', sep=',')
cars2 = pd.read_csv('cars2.csv', sep=',')

cars2.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model,origin,car
0,33.0,4,91,53,1795,17.4,76,3,honda civic
1,20.0,6,225,100,3651,17.7,76,1,dodge aspen se
2,18.0,6,250,78,3574,21.0,76,1,ford granada ghia
3,18.5,6,250,110,3645,16.2,76,1,pontiac ventura sj
4,17.5,6,258,95,3193,17.8,76,1,amc pacer d/l

### Step 4. Oops, it seems our first dataset has some unnamed blank columns, fix cars1

In [14]:
cars1 = cars1.loc[:, 'mpg':'car']

### Step 5. What is the number of observations in each dataset?

In [15]:
print(cars1.shape)
print(cars2.shape)

(198, 9)
(200, 9)

### Step 6. Join cars1 and cars2 into a single DataFrame called cars

In [16]:
cars = cars1.append(cars2)
cars
cars.shape

(398, 9)

### Step 7. Oops, there is a column missing, called owners. Create a random number Series from 15,000 to 73,000.

In [19]:
nr_owners = np.random.randint(15000, high=73001, size= 398, dtype='l')
print(nr_owners)

[72097 35407 23670 68480 33094 26136 34547 55433 19325 22912 58008 26537
 52853 21461 50700 41302 18571 60327 57407 70169 17830 45557 55089 53552
 16789 55750 61327 25050 41573 33765 66801 71717 45723 63486 31528 50941
 62810 39464 42215 44307 60408 51441 50882 49686 33278 60849 61147 57456
 33272 53278 43849 53372 42139 70587 19233 43553 58841 34129 50775 30567
 68697 43063 48112 60530 72806 66000 32802 42148 22942 16310 48947 59652
 44231 22167 36990 29131 34320 62110 45487 56388 26741 53795 25136 44239
 23343 62537 17324 31289 24837 16403 71735 56916 26038 18214 16123 27636
 28387 29551 43313 51071 71897 25042 38818 46006 45261 19982 34685 44125
 57506 24186 52454 69834 39845 20246 68400 33023 61546 59717 28119 34821
 68547 42593 33299 34548 28721 42272 27634 69891 61390 17726 41678 53077
 60008 23808 31983 70958 53252 63742 48766 30094 68160 15256 68478 50278
 66108 36416 69394 49172 35180 54066 18675 54310 32088 58154 33074 54388
 58847 20912 37921 16293 42995 53159 60226 39572 46015 46454 57418 57212
 67934 48775 23248 40162 53721 26658 42613 44265 25391 72435 34215 48138
 29761 39198 66339 31344 29345 30371 21618 15710 45581 54286 70983 63430
 71281 39471 65238 54779 47912 20389 17266 43475 45765 19682 63833 56006
 51821 72850 29028 23608 17918 23656 71016 45567 67405 22842 18742 53760
 67879 33104 70856 43010 31501 59419 65984 16595 29247 33706 19424 44168
 20903 51086 49852 42042 42282 31684 22570 52399 22763 28953 57446 15567
 29914 33836 24013 66682 34772 65943 53021 22086 68483 43364 23571 41949
 59214 24834 63855 21736 55297 55402 58654 50895 61477 66491 49416 72579
 69178 36930 66608 59810 69894 43810 69385 56545 54316 32686 65065 70305
 24970 62585 49193 58105 38689 59092 45194 72751 48782 69445 48705 24157
 37472 30117 66274 15741 70423 45769 40644 40389 28977 25936 31410 54414
 20315 46448 49080 30115 19271 67135 64647 37268 51982 55965 68728 24636
 70492 46965 55592 52674 27706 62829 34608 21179 40648 27644 71972 63810
 47187 20840 15580 27750 20799 15861 35016 28435 30599 16027 15598 52069
 34358 56025 69742 41234 60158 15595 37436 15295 53773 55098 29969 25914
 61183 43469 60166 37384 33619 55773 72386 27117 71823 44724 57065 40722
 33783 32009 21601 16264 41393 49442 47523 28618 29258 33302 65059 26552
 58868 28657 20806 26829 36538 30022 61737 42120 58185 46562 66075 72723
 50036 55369 63229 56984 25677 44608 42181 58922 67778 34136 42122 43936
 70511 58111]

### Step 8. Add the column owners to cars